section,
.section{
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;

  &.bg-gradient{
    @include bg-gradient(#4b46cf, #2da5af);

    &.bg-image{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        left: 0;
        bottom:0;
        background: no-repeat center center;
        background-size: cover;
        opacity:0.3;
      }
    }
  }
  &.text-white{
    h2{
      &:before{
        background: #fff;
      }
    }
  }
  .bg-primary{
    color: #fff;
  }
}

#expertise{
  &:before{
    background-image: url(../images/bg-expertise.jpg);
  }
}