blockquote{
  position: relative;
  border: 0;
  color: $brand-gray;
  padding-left: 40px;
  .twa,
  .emoji{
    position: absolute;
    left: 0;
  }
  .author{
    margin-top: 8px;
    font-size: 0.7em;
    font-weight: 500;
    color: $brand-info;
  }
}