.emoji {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}

$size-map: (
  "lg": 1.33,
  "2x": 2,
  "3x": 3,
  "4x": 4,
  "5x": 5
);

@each $name, $size in $size-map {
  .emoji-#{$name} {
    height: 1em * $size;
    width: 1em * $size;
    margin: 0 .05em * $size 0 .1em * $size;
    background-size: 1em * $size 1em * $size;
  }
}
$emoji-map: (
  "speech-balloon": "speech-balloon_1f4ac",
  "victory-hand": "victory-hand_270c"
);
@each $name, $code in $emoji-map {
  .emoji-#{$name} {
    background-image: url("../images/emoji/#{$code}.png");
  }
}