// timeline
$timeline-bg: $brand-info;
$timeline-width: 296px;
$timeline-line-width: 1px;
$timeline-margin-top: 0;
$timeline-margin-bottom: 50px;

// item
$timeline-item-padding-vertical: 50px;
$timeline-item-padding-horizontal: 0;
$timeline-item-transition: 0.8s;


// point
$timeline-point-bg: $timeline-bg;
$timeline-point-size: 20px;
$timeline-point-radius: 50%;
$timeline-point-border-size: 2px;
$timeline-point-border-color: #fff;
$timeline-point-transform: scale(0);
$timeline-point-active-transform: scale(1);
$timeline-point-transition-time: 0.3s;
$timeline-point-transition-delay: 0.3s;
$timeline-point-margin-between : 80px;

//content
$timeline-content-bg : #fff;
$timeline-content-shadow: 0 0 12px 0 rgba(68,69,78,0.2);

// block indent
$timeline-block-indent : 30px;


// breakpoint
$mobile_breakpoint: 1px;
$mobile_breakpoint_max: $mobile_breakpoint - 1;