@import 'variables';

// == container
//
.container-timeline {
  position: relative;
  padding: $timeline-margin-top 0 $timeline-margin-bottom;
  &:after {
    content: '';
    display: block;
    float: none;
    clear: both;
  }
  @media(max-width: $screen-xs-max) {
    overflow: hidden;
  }
}

// == line elements
//
.timeline {
  position: absolute;
  z-index: 1;
  width: $timeline-width;
  top: $timeline-margin-top + $timeline-item-padding-vertical;
  bottom: $timeline-margin-bottom + $timeline-item-padding-vertical;
  text-align: center;
  overflow: hidden;
  @include clearfix();
  &-start {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.8s;
  }
  &-line {
    display: inline-block;
    width: $timeline-line-width;
    height: 0;
    //max-height: calc(100% -  #{$skill-minheight} * 0.5);
    background: $timeline-bg;
  }
  &-end {
    display: block;
    width: 0;
    margin: auto;
    //  height: $skill-minheight * 0.3;
    border-left: 1px dashed #fff;
    transform: scaleY(0);
    transform-origin: center top;
    transition: all 3s;
  }
  @media(min-width: $mobile_breakpoint) {
    left: 50%;
    transform: translateX(-50%);
  }
}

// == timeline item
//
.timeline-item {
  position: relative;
  padding: $timeline-item-padding-vertical $timeline-item-padding-horizontal;

  // anim point
  &.anim {
    .timeline-item-content {
      opacity: 1;
    }
    &.timeline-point, .timeline-point {
      opacity: 1;

    }
  }

  // timeline point content
  &-content {
    width: calc(100% - #{$timeline-width} / 2 - 60px);
    opacity: 0;
    //margin-top: 73 + $timeline-point-margin-between;
    position: absolute;
    top: $timeline-point-margin-between + $timeline-item-padding-vertical + 73 + 64;
    transform: translateY(-50%);
    transition: all $timeline-item-transition;
    transition-delay: $timeline-point-transition-delay;

    &-inner {
      position: relative;
      padding: 25px 35px;
      background: $timeline-content-bg;
      border-radius: 2em;
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 0 9px 12px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
      }
      ul {
        @extend .list-styled, ul.list-styled;
      }
    }
    @media(min-width: $screen-sm-min){
      .icon-circle{
        float: left;
        width: 21px;
        height: 21px;
        line-height: 15px;
        margin: 15px 0;
        background: #fff;
        border-radius: 50%;
        color: $brand-info;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  .block-indent {
    padding-left: $timeline-block-indent;
  }

  // item right
  &:nth-child(even) {
    clear: right;
    &.timeline-point, .timeline-point {
      float: right;
      transform: translateX(50%);
    }
    .block-indent {
      padding-right: $timeline-block-indent;
    }
  }
  &:nth-child(odd) {
    clear: left;
    float: right;

    &.timeline-point, .timeline-point {
      float: left;
      transform: translateX(-50%);
    }
    .timeline-item-content {
      float: right;
      right: 0;
      &-inner{
        background: $brand-info;
        color:#fff;
        &:after{
          left: auto;
          right: 100%;
          border-width: 9px 12px 9px 0;
          border-color: transparent $brand-info transparent transparent;

        }
      }
      @media(min-width: $screen-sm-min){
        .icon-circle{
          float: right;
          background: $brand-info;
          color: #fff;
        }

      }
    }

  }
  &.anim {
    &:nth-child(even) {

    }
  }
  .dash {
    margin: 20px 0;
  }
  @media(min-width: $screen-md-min) {
    width: 50%;

  }
  @media(max-width: $screen-sm-max) {
    width: 100%;
    + .timeline-item {
      padding-top: 80px;
    }
    &:nth-child(even) {
      margin-left: -50%;
    }
    &:nth-child(odd) {
      margin-right: -50%;
    }
  }
}

// == timeline point
//
.timeline-point {
  position: relative;
  z-index: 200;
  opacity: 0;
  float: left;
  clear: both;
  padding: 20px 30px;
  border-radius: 3em;
  transform: translateX(-50%);
  transition: all $timeline-point-transition-time;
  transition-delay: $timeline-point-transition-delay;

  + .timeline-point {
    margin-top: $timeline-point-margin-between;
    cursor: pointer;
    //@media(min-width: $screen-md-min) {
    //
    //  &:before,
    //  &:after {
    //    content: "";
    //    position: absolute;
    //    top: 50%;
    //    right: calc(100% + 15px);
    //    background: #c9c9d0;
    //    transform: translateY(-50%);
    //  }
    //  &:before {
    //    width: 75px;
    //    height: 0.12em;
    //  }
    //  &:after {
    //    width: 10px;
    //    height: 10px;
    //    border-radius: 50%;
    //  }
    //}
  }
}

.timeline-modal-open {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  display: block !important;
  width: auto;
  margin: 0;
  transform: none;
  .timeline-item-content-inner {
    position: inherit;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    max-height: 100%;
    overflow: auto;
    span{
      color: #35363d;
    }
  }
}

